<span title="Wordpress"><a href="https://wordpress.org/plugins/did-someone-clone-me/" style="border-bottom:0px;"><img src="/assets/img/wp.png" style="max-width: auto; height: 60px;"></a></span>
<span title="Joomla!"><a href="https://extensions.joomla.org/extension/did-someone-clone-me/" style="border-bottom:0px;"><img src="/assets/img/joomla.png" style="max-width: auto; height: 50px;"></a></span>
<span title="Drupal"><a href="https://www.drupal.org/project/dscm/" style="border-bottom:0px;"><img src="/assets/img/drupal.png" style="max-width: auto; height: 50px;"></a></span>
<span title="Google tag manager" hidden><a href="https://dummy/" style="border-bottom:0px;"><img src="/assets/img/gtm.png" style="max-width: auto; height: 50px;"></a></span>
