<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#05c896">
  <meta name="msapplication-TileColor" content="#05c896">
  <meta name="theme-color" content="#ffffff">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  {% include hook-head.html %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WLCF9YCQ75"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-WLCF9YCQ75');
    gtag('config', 'AW-957992313');
    gtag('set', 'user_data', {
        "email": email
        });
  </script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/countUp.umd.js"></script>
</head>
