<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ "uploads/favicon.png" | relative_url }}" >
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  {% include hook-head.html %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WLCF9YCQ75"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WLCF9YCQ75');
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://inorganik.github.io/countUp.js/dist/countUp.umd.js"></script>
</head>
