<script>
var website;

const params = new URLSearchParams(window.location.search)

document.addEventListener('DOMContentLoaded', function() {
  const plan = params.get('plan');
  const link = document.getElementById('signup');

  if (plan === 'premium') {
    link.textContent = 'Sign up to Premium';
    link.classList.remove("uk-button-primary");
    link.classList.add("uk-button-premium");
  } else {
    link.textContent = 'Sign up for free';
    link.classList.remove("uk-button-premium");
    link.classList.add("uk-button-primary");
  }
});

element = document.getElementById("signup");
element.addEventListener("click", formJS);
document.addEventListener("keydown", formJS);

if (params.get('subscribed') == 'true') {
    var element = document.getElementById("hero");
    element.innerHTML='<div class="uk-card uk-card-default uk-card-body"><h3 class="uk-card-title">Premium Sign up completed</h3><p style="font-size:.975rem;">We\'ve sent you an email with <b>installation instructions</b>.</div>';
}

function formJS(event) { 
    form = document.getElementById('search-hero');
    form.setCustomValidity('');

    if (event.keyCode === 13) {	
      theJS();
    } else if (typeof event.keyCode === 'undefined') {
      theJS();
    }
};

function theJS() {
    if (typeof website == 'undefined') {
            form = document.getElementById('search-hero');
            var domainPattern = /^([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}$/i;
            if (!domainPattern.test(form.value)) {
                form.setCustomValidity('Please enter a valid domain (e.g. example.com)');
                form.reportValidity();
                window.isTooltipShown = true;
                return;
            } else {
                form.setCustomValidity('');
                website = form.value;
            }
            document.getElementById('submitButton').innerHTML='<p><a id="b" class="uk-button uk-button-primary" style="font-size: 1.125rem;">Create link</a></p><p class="uk-text-lead uk-text-center" style="font-size: 0.75rem;">By using this service you agree that DSCM stores your email address to provide the service. DSCM will not use the email address for other purposes nor provide it to third parties.</p>';
            element = document.getElementById("b");
            element.addEventListener("click", formJS);
        } else {
          form = document.getElementById('search-hero');
          var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

          if (!emailPattern.test(form.value)) {
              form.setCustomValidity('Please enter a valid email (e.g. john.doe@example.com)');
              form.reportValidity();
              return;
            } else {
              form.setCustomValidity('');
              email = form.value;
            }
        }

        document.getElementById('search-hero').placeholder='Your email address';
        document.getElementById('search-hero').value='';

        var element = document.getElementById("search-hero");
        element.classList.add("uk-animation-scale-up");
        element.classList.add("uk-animation-slide-right-medium");

  if (params.has('plan') == true) {
      var plan = params.get('plan');
        } else {
            var plan = 'free';
        }

        if (typeof website !== 'undefined' && typeof email !== 'undefined' && typeof plan !== 'undefined') {
            var element = document.getElementById("hero");
            element.classList.add("uk-animation-slide-right");
            element.classList.add("uk-animation-reverse");

            if (params.get('plan') == 'premium') {
              generateLink(website, email, plan);
              return;
            }

            setTimeout(function(){
            element.innerHTML='<div class="uk-card uk-card-default uk-card-body"><h3>Creating your link...</h3><p>Please wait a moment</p></div>';
            element.classList.remove("uk-animation-reverse");
            element.classList.remove("uk-animation-slide-right");
            element.classList.add("uk-animation-scale-up");
            element.classList.add("uk-animation-slide-right-medium");
            if (website && email && plan) {
                generateLink(website, email, plan);
            }
            }, 800);
    }

function generateLink(website, email, plan) {
    var element = document.getElementById("hero");

    if (params.get('test') == 'true') {
        var url = "https://api-test.didsomeoneclone.me/generatelink";
    } else {
        var url = "https://api.didsomeoneclone.me/generatelink";
    }

    if (params.get('period') == 'yearly') {
      var period = 'yearly';
    } else {
      var period = 'monthly';
    }

    post_data = {
      "site": website.toLowerCase(),
      "mail": email.toLowerCase(),
      "plan": plan,
      "period": period
    }

    $.ajax({
      'url': url,
      'type': "POST",
      'data': JSON.stringify(post_data),
      'dataSrc': 'data',
      'success': function (data) {
        // Get the payment_link from the data
        if (plan == 'premium') {
          var resp = JSON.parse(data);
          var payment_link = resp.payment_link;
          // Redirect the user to the payment_link
          window.location.href = payment_link;
        } else {
          element.innerHTML='<div class="uk-card uk-card-default uk-card-body"><h3 class="uk-card-title">Sign up completed</h3><p style="font-size:.975rem;">We\'ve sent you an email with <b>installation instructions.</div>';
        }
      },
      'error': function (jqXHR, textStatus, errorThrown) {
        element.innerHTML='<div class="uk-card uk-card-default uk-card-body"><h3 class="uk-card-title">Error occured</h3><p id="error"></p><p><a href="/">Try again</a></p></div>';
        document.getElementById('error').innerText = errorThrown;
        console.error('Error:', errorThrown);
      }
    });

    var element = document.getElementById("hero");
    element.classList.remove("uk-animation-scale-up");
    element.classList.remove("uk-animation-slide-right-medium");
    element.classList.add("uk-animation-slide-left");
  }
}
</script>
  