<script>
var website;
var email;

const params = new URLSearchParams(window.location.search)
element = document.getElementById("b");
element.addEventListener("click", formJS);
document.addEventListener("keyup", formJS);

function formJS(event) { 
    if (event.keyCode === 13) {	
      theJS();
    } else if (typeof event.keyCode === 'undefined') {
      theJS();
    }
};

function theJS() {
    if (typeof website == 'undefined') {
           website = document.getElementById('search-hero').value;
           document.getElementById('submitButton').innerHTML='<p><a id="b" class="uk-button uk-button-primary" style="font-size: 1.125rem;">Create link</a></p><p class="uk-text-lead uk-text-center" style="font-size: 0.75rem;">By using this service you agree that DSCM stores your email address to provide the service. DSCM will not use the email address for other purposes nor provide it to third parties.</p>';
           element = document.getElementById("b");
	   element.addEventListener("click", formJS);
        } else {
           var email = document.getElementById('search-hero').value;
        }

        document.getElementById('search-hero').placeholder='Your email address';
        document.getElementById('search-hero').value='';

        var element = document.getElementById("search-hero");
        element.classList.add("uk-animation-scale-up");
        element.classList.add("uk-animation-slide-right-medium");

        if (typeof website !== 'undefined' && typeof email !== 'undefined') {
           var element = document.getElementById("hero");
           element.classList.add("uk-animation-slide-right");
           element.classList.add("uk-animation-reverse");

           setTimeout(function(){
           element.innerHTML='<div class="uk-card uk-card-default uk-card-body"><h3>Creating your link...</h3><p>Please wait a moment</p></div>';
           element.classList.remove("uk-animation-reverse");
           element.classList.remove("uk-animation-slide-right");
           element.classList.add("uk-animation-scale-up");
           element.classList.add("uk-animation-slide-right-medium");
           if (website && email) {
               generateLink(website, email);
           }
           }, 800);
    }

function generateLink(website, email) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == XMLHttpRequest.DONE) {
         const obj = JSON.parse(xhr.responseText);
         var element = document.getElementById("hero");
	 if (xhr.status == 200) {
           element.innerHTML='<div class="uk-card uk-card-default uk-card-body"><h3 class="uk-card-title">Link created</h3><p style="font-size:.975rem;">We\'ve sent you an email to <b>confirm your email address</b>. This email also contains the instructions to <b>install your personal link</b>.</div>';
           document.getElementById('link').textContent=obj.link;
         } else {
           element.innerHTML='<div class="uk-card uk-card-default uk-card-body"><h3 class="uk-card-title">Error occured</h3><p id="error"></p><p><a href="/">Try again</a></p></div>';
           document.getElementById('error').innerText = obj.message;
	}
       var element = document.getElementById("hero");
       element.classList.remove("uk-animation-scale-up");
       element.classList.remove("uk-animation-slide-right-medium");
       element.classList.add("uk-animation-slide-left");
      }
    }
    
    if (params.get('test') == 'true') {
	var url = "https://api-test.didsomeoneclone.me/generatelink";
    } else {
        var url = "https://api.didsomeoneclone.me/generatelink";
    }

    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");

    var data = JSON.stringify({"mail": email, "site": website});
    xhr.send(data);
    }
}
</script>
