<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KG5QRJTP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {% if page.hero %}
        {% include hero.html %}
    {% else %}
        {% include navbar.html %}
    {% endif %}

    {{ content }}

    {% include offcanvas-docs.html %}

    {% include offcanvas.html %}

    {% if page.layout != 'doc' %}
        {% include footer.html %}
    {% endif %}

    {% if page.layout == 'doc' %}
        {% include hook-pre-closing-body-doc.html %}
    {% endif %}

    {% include hook-pre-closing-body.html %}

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/652d311a6fcfe87d54ba3c02/1hcs8fkgm';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    });
    </script>
    <!--End of Tawk.to Script-->

    </body>

</html>
